@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
font-family: 'Nunito Sans', sans-serif;
}
.headingimage{
    width: 160px;
    height: 40px;
    
}
.post{
    width: 100%;
}
h1{
    font-size: 2rem !important;
    font-family: 'Merienda', cursive;
    text-transform: capitalize;
}